*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    font-size: 16px;
}

.navbar-light .navbar-nav .nav-link{
    padding: 0 20px;
    color:black;
    transition: 0.3s ease;
}

#home span{
    color:red;
}

#home span{
    color: coral;
}

#home {
    background-image: url("img/back.jpg");
}